body {
    font-family: Arial, sans-serif;
    margin: 0;
}

header {
    width: 100%;
    background-color: #276c29;
    color: white;
    padding: 1em 0;
}
header h1,h3{
    text-align: left;
    margin-left: 20px; 
    padding: 20px; 
}

header nav {
    display: flex;
    justify-content: center;
    gap: 1em;
}

header nav a {
    color: white;
    text-decoration: none;
}

.container {
    display: flex;
}

.sidebar {
    width: 20%;
    background-color: #f4f4f4;
    padding: 1em;
}

.sidebar .category {
    margin-bottom: 1em;
}

.sidebar .category h3 {
    margin: 0;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 0.5em;
}

.sidebar ul li a {
    text-decoration: none;
    color: #333;
}

.sidebar ul li a:hover {
    color: #276c29;
}

.content {
    width: 80%;
    padding: 1em;
    flex: 1;
}

.content img {
    width: 100%;
    margin-bottom: 1em;
}

.videos {
    display: flex;
    justify-content: space-between;
}

.videos iframe {
    width: 32%;
}
.content h2{
    color: whitesmoke;
    background-color: #276c29;
}
.noticias {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
.noticias a {
    width: 32%;
    margin-bottom: 20px; 
  }
.logo {
    width: 100%; 
    max-width: 100%; 
    height: auto; 
    margin-bottom: 20px; 
  }
.footer {
    background-color:#276c29;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position:static;
    bottom: 0;
    width: 100%;
}
  
.footer nav {
    margin-top: 10px;
}
  
.footer nav a {
    color: #276c29;
    margin: 0 10px;
    text-decoration: none;
}
  
.footer nav a:hover {
    text-decoration: underline;
}
  
  
